#toolBox {
    background-color: #424242;
    border-bottom: 1px solid #424242;
}

#body {
    background: rgb(121,121,121);
}


body {
    color: white;
    background-color: #424242;
}

header, footer, hgroup,
nav, section {
    background-color: rgb(121,121,121);
}

.subjectBarButton {
    border-top: 1px solid #424242;
    border-left: 1px solid #424242;
    border-right: 1px solid #424242;
    color: white;
}

.subjectBarButtonClicked {
    border-top: 1px solid #424242;
    border-left: 1px solid #424242;
    border-right: 1px solid #424242;
    color: white;
    background-color: #424242;
    border-top: 1px solid #424242;
    border-left: 1px solid #424242;
    border-right: 1px solid #424242;
}

.toolBarBtn {
    border: 1px solid #424242;
}

.toolBarBtn:hover {
    border: 1px solid #F5F5F5;
    border: 1px solid black;
    background-color: lightblue;
}

footer {
    background-color: #424242;
    border-top: 1px solid black;
}


html {
    background-color: #424242;
}

.titleHeader {
    background-color: #424242;
    border-top: 2px solid rgb(0, 148, 255);
}

.titleHeader:hover { 
    color: #1592db;
}

.collapsibleList {
    border-top: 3px solid #1592db;
    background-color: #919191;
}


.collapsibleList span {
    border: 1px solid #919191;
}

    .collapsibleList a:link {
        color: white;
    }

    .collapsibleList a:visited {
        color: white;
    }

    .collapsibleList a:hover {
        background-color: #cbe3f1;
        border: 1px solid #ddd;
    }

a {
    color: rgb(89, 223, 255);
}


a:link {
    color: rgb(89, 223, 255);
}

a:visited {
    color: rgb(89, 223, 255);
}

.fakeLink {
    color: rgb(89, 223, 255);
}

.workCollapseBtn {
    border: 2px solid black;
    color: white;
    background-color: rgb(158, 158, 158);
}


.parseErrorTxt {
    color: #FF4F4F;
}

.optionsContainer {
    border: 1px ridge #0094FF;
    box-shadow: 5px 5px 5px #424242;
    background: rgb(121,121,121);
}

.editContainer {
    border: 1px ridge #0094FF;
    box-shadow: 5px 5px 5px #424242;
    background: rgb(121,121,121);
}

.btn-clear {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #b3b3b3;
    color: white;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(to bottom, #969696, #7B7B7B);
}

.genDropDown {
    background-color: #f5f5f5;
    border: 2px solid #1592db;
    background-image: linear-gradient(to bottom, #969696, #7B7B7B);
    color: white;
    box-shadow: 0 1px #777, 0 1px 0 #666 inset;
}

.mathquill-editable {
    color: white !important;
}

.workDescText {
    color: rgb(187, 187, 187);
}

form {
    background-color: rgb(121,121,121);
}