.work-nav-btn {
    width: 60px;
    height: 60px;
    background-color: #F5F5F5;
    border: 1px solid #adadad;
    text-align: center;
    line-height: 60px;
}

    .work-nav-btn:hover {
        cursor: pointer;
        color: #3498db;
    }

#work-nav-space {
    display: none;
    right: 32%;
    position: absolute;
}

.not-hidden {
    display: block;
}

.loading-area {
    position: absolute;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 10%;
}

    .loading-area p {
        text-align: center;
        font-size: 20px;
    }

    .loading-area img {
        height: 50px;
        width: 50px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

.small-popup {
    background-color: #ecf0f1;
    position: absolute;
    bottom: 70px;
    right: 8px;
    padding: 10px;
}

.sub-toolbar-btn {
}

.sub-toolbar-btn-space {
    position: absolute;
    background: #D5E9F7;
    z-index: 1004;
    padding: 5px 10px;
}

.workCollapseBtn {
    opacity: 1.0;

}

.prev-output:hover .sectionHeading .workCollapseBtn {
    opacity: 1.0;
}

#work-space {
    height: -moz-calc(100% - 264px);
    height: -webkit-calc(100% - 264px);
    height: -o-calc(100% - 264px);
    height: calc(100% - 264px);
    overflow-y: auto;
    overflow-x: hidden;
}

.pob-sub-title {
    margin-top: 0px;
    margin-bottom: 20px;
}

    .pob-sub-title:hover {
        cursor: pointer;
    }

.toolbar-btn {
    width: 34px;
    margin: 2px 0px 2px 0px;
    display: inline-table;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    padding: 3px;
}

    .toolbar-btn:hover {
    }

.toolbar-btn-dropdown {
    position: relative;
    z-index: 1003;
    display: block;
    padding-top: 8px;
}

.include-padding {
    padding-right: 20px !important;
}

    .toolbar-btn-dropdown:hover {
        background-color: #77bae7;
    }

.toolbar-icn {
    border: 1px solid white;
    padding: 2px;
}

    .toolbar-icn:hover {
        border: 1px solid rgba(52, 152, 219, 0.2);
        padding: 2px;
        color: rgb(0, 0, 215);
        background-color: rgba(52, 152, 219, 0.2);
    }

.more-popup {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 20px;
    bottom: 0px;
    height: 100%;
    z-index: 1005;
}

.more-options-area {
    margin-left: 3%;
    opacity: 1.0;
}

.prev-output:hover .more-options-area {
    opacity: 1.0;
}

.more-popup-content {    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.98);
    padding-top: 10px;
    overflow-y: auto;
    height: 96%;
}


.icon-btn {
    background-color: #ecf0f1;
    font-size: 30px;
    position: relative;
    right: 0px;
    margin-left: 8%;
    width: 35px;
    height: 35px;
    padding: 5px;
    display: table-cell;
}

    .icon-btn:hover {
        cursor: pointer;
    }

    .icon-btn img {
        height: 35px;
        width: 35px;
    }

.copy-past-link {
    width: 100%;
}

#expand-more-popup {
    margin: 10px 0px;
    background-color: #ecf0f1;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    font-size: 48px;
    margin-right: 10px;
    position: absolute;
    opacity: 0.5;
    float: right;
    right: 0px;
    bottom: 348px;
    text-align: center;
}


#expand-more-popup:hover {
    cursor: pointer;
    color: #3498db;
    opacity: 1.0;
}

.func-disp-list {
    list-style: none;
    padding: 0px;
}

.func-list-title {
    font-size: 24px;
}

.angle-rad-btn {
    display: block;
}

    .angle-rad-btn label {
        position: relative;
        bottom: 9px;
    }

    .angle-rad-btn input {
        width: 30px;
        height: 30px;
        -webkit-appearance: radio;
        border-radius: initial;
    }

.del-span {
    padding: 5px 10px;
    position: absolute;
    float: right;
    right: 20px;
    border: 0px;
    font-size: 17px;
}

.func-disp-list li .del-span {
    display: none;
}

.func-disp-list:hover li .del-span {
    display: inline;
}

#graphbox_navigationbar span  {
    font-size: 26px;
}

.sub-work-list-toggle-btn {
    border: 0px;
    margin-bottom: 5px;
    padding: 0px 13px;
    font-size: 18px;
}

    .sub-work-list-toggle-btn:hover {
        cursor: pointer;
    }

.sub-work-list {

}

.example-nav-btn {
    margin-top: 20px;
    margin-right: 20px;
    padding: 2px 10px;
    font-size: 23px;
    cursor: pointer;
    border: 1px solid black;
    background-color: #E0E0E0;
}