@media only screen and (max-device-width: 480px) {
    .mathlogo {
        width: 190px !important;
        float: left !important;
    }

    .moto {
        display: none !important;
    }

    .header {
        height: 55px !important;
        position: fixed;
        padding: 0px !important;
        width: 100%;
    }

    .heading-1 {
        font-size: 40px;
    }

    .ws-container {
        margin-bottom: 60px;
    }

    html {
        -webkit-overflow-scrolling: touch;
    }

    #to-bottom-btn {
        width: 40px !important;
        height: 40px !important;
        line-height: 40px !important;
        right: 0% !important;
    }

    .navbar {
        margin-bottom: 0px !important;
    }

    .w-nav-button {
        padding: 6px !important;
    }

    .w-nav-link {
        line-height: 68px;
    }

    .click-area {
        width: 200px;
        height: 50px;
    }

    #left-paneling {
        width: 100%;
        float: none;
    }

    #right-paneling {
        height: 100px !important;
        width: 100% !important;
        position: fixed !important;
        top: 59px !important;
        border-bottom: 1px solid #adadad;
    }

    #pod-space {
        display: none !important;
    }

    #account-space {
        display: none !important;
    }

    #toolbar-space {
        width: 100% !important;
        position: initial !important;
        height: 100% !important;
        right: auto !important;
        overflow-y: hidden;
    }

    #tool-bar-selection-space {
        font-size: 20px !important;
        margin-left: 5px;
        padding: 0px !important;
        text-align: initial !important;
        margin-bottom: 0px !important;
        overflow-y: hidden !important;
    }

    .subject-bar-btn {
        padding: 0px !important;
    }

    .subject-bar-btn-clicked {
        padding: 0px !important;
    }

    .toolbar-icon {
        font-size: 20px !important;
    }

    .extra-space {
        margin-left: -10px !important;
    }

    .toolbar-icon-larger {
        font-size: 16px !important;
    }

    .toolbar-btn {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    #toolbar-btn-space {
        white-space: nowrap !important;
        overflow-x: auto !important;
        min-height: 60px;
        overflow-y: hidden !important;
    }

    .ad-space {
        display: none !important;
    }

    .footer {
        height: 10px !important;
        position: fixed !important;
    }

    .nav-login-area {
        display: block !important;
    }

    .branding-images {
        display: none !important;
    }

    #eval-space {
        margin-bottom: 30px !important;
        width: 100% !important;
    }

    .centered-col {
        display: block !important;
        width: 100% !important;
    }

    .footer-links {
        margin-right: 0px !important;
        margin-top: -3px !important;
        font-size: 13px !important;
    }

    .w-container {  
        padding-left: 10px;
        padding-right: 2px;
    }

    .topic-section {
        display: none;
    }

    .more-options-area {
        display: none !important;
    }

    .body {
        height: -moz-calc(100% - 85px) !important;
        height: -webkit-calc(100% - 85px) !important;
        height: -o-calc(100% - 85px) !important;
        height: calc(100% - 85px) !important;
        overflow-y: hidden;
        overflow-x: hidden;
        margin-top: 55px;
    }

    .register-info-list li input[type='text'] {
        width: 280px !important;
    }
    .register-info-list li input[type='password'] {
        width: 280px !important;
    }

    .to-register {
        padding: 0px !important;
        margin-left: 0px !important;
    }



    .copy-right {
        margin-top: 2px !important;
        font-size: 10px !important;
        float: right !important;
        padding-right: 10px !important;
        position: absolute;
        right: 15px;
        top: 7px;
    }

    .size-crit {
        padding: 0px !important;
    }

    fieldset {
        padding: 6px;
    }

    fieldset ol {
        padding: 0px;
    }

    .solve-btn {
    }

    #work-nav-space {
        display: none;
    }

    #work-space {
        height: -moz-calc(100% - 165px) !important;
        height: -webkit-calc(100% - 165px) !important;
        height: -o-calc(100% - 165px) !important;
        height: calc(100% - 165px) !important;
        margin-top: 100px !important;
        width: 105%;
    }

    #input-list {
        margin: 0px;
    }

    .input-txt-box-area {
        width: 95% !important;
    }

    .mathquill-rendered-math {
        font-size: 21px !important;
    }

    .text-notice {
        position: relative !important;
        top: 5px !important;
    }

    .gen-drop-down {
        font-size: 12pt !important;
    }

    .input-disp-area {
        font-size: 16px !important;
    }

    .solutionData {
        font-size: 17px !important;
    }

    .workListItem {
        font-size: 14px !important;
    }

    .workDescText {
        font-size: 16px !important; 
        padding-right: 20px;
    }

    .workCollapseBtn {
        width: 200px !important;
        font-size: 22px !important;
        opacity: 1.0 !important;
    }

    .graph-disp {
        min-width: 240px !important;
        width: 80% !important;
        height: 250px !important;
    }

    #title-block {
       margin-top: 7px;
    }

    .parse-errors {
        width: 81%;
        margin-top: 0px;
    }

    
    .hlep-larger {
        padding-top: 20px !important;
    }

        .hlep-larger div div a {
            font-size: 45px !important;
        } 
}
