/* Variable declarations. */



html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   height: 100%;
   position:relative;
}
#header {
   background:#ecf0f1;
   padding:10px;
   height: 120px;
}
#body {
   height: 100%;
   position: fixed;
   width: 100%;
}
#footer {
   position:fixed;
   bottom:0;
   width:100%;
   padding: 10px;
   height:60px;   /* Height of the footer */
   background: #ecf0f1;
}

#work-space {

}



#toolbar-space {
    width: 100%;
    height: 50%;
    background-color: #ffffff;
}

#pod-space {
    width: 100%;
    height: 25%;
    border-top: 1px solid #adadad;
    background-color: #ffffff;
}

#account-space {
    width: 100%;
    height: 25%;
    border-top: 1px solid #adadad;
    background-color: #ffffff;
}

.ad-space {
    position: fixed;
    bottom: 0px;
    margin-bottom: 80px;
    background-color: #e2e2e2;
    text-align: center;
}

.gen-btn {
    border: 0px;
    height: 100%;
    float: right;
    width: 33.3%;
    font-size: 0.8em;
    border-left: 1px solid black;
    display: inline-block;
}

.tool-bar-btn-space {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 16.1%;
    float: right;
}

#eval-space {
    background-color: #fafafa;
    height: 60px;
    position: fixed;
    bottom: 0px;
    width: 70%;
    border-top: 1px solid #adadad;
    margin-bottom: 170px;
}


.gen-drop-down-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 64%;
    height: 100%;
}

    .gen-drop-down-wrapper:before,
    .gen-drop-down-wrapper:after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .gen-drop-down-wrapper:after {
        content: "▼";
        height: 1em;
        font-size: 0.625em;
        line-height: 1;
        right: 1.2em;
        top: 50%;
        margin-top: -0.5em;
    }

    .gen-drop-down-wrapper:before {
        width: 2em;
        right: 0px;
        height: 100%;
        top: 0px;
        bottom: 20px;
        background-color: #3498db;
        background-image: -webkit-linear-gradient(58deg, #1abc9c, #3498db);
        background-image: linear-gradient(32deg, #1abc9c, #3498db);
        -webkit-transition: background-color 300ms ease;
        transition: background-color 300ms ease;
    }

.gen-drop-down {
    width: 100%;
    height: 100%;
    font-size: 16pt;
    display: inline-block;
    margin-bottom: 20px;
}

.solve-btn {
  display: block;
  width: 20%;
  height: 100%;
  margin-left: -1px;
  float: left;
  background-color: #3498db;
  background-image: -webkit-linear-gradient(58deg, #1abc9c, #3498db);
  background-image: linear-gradient(32deg, #1abc9c, #3498db);
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  border: 0px;
}

#title-block {
    float: left;
    margin-left: 5%;
    margin-top: 10px;
}

.mathlogo {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.moto {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto, sans-serif;
  color: #b8b8b8;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
}

.nav-menu {
  float: right;
  position: relative;
  top: 50%;
  margin-right: 20px;
  transform: translateY(-50%);
}

.w-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.w-nav-link:hover {
  text-decoration: none;
  color: #222222;
}

.nav-link {
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 28px;
  font-weight: 100;
  display: inline;
}

.footer-links {
    margin-right: 30px;
}

.copy-right {
    margin-top: 5px;
}

.footer-links a {
    color: #919191;
    text-decoration: none;
}

.centered-col {
    width: 600px;
    margin-left: auto;
    display: -webkit-box;
    margin-right: auto;
}

.img-disp {
    max-width: 100%;
}

.tw-link {
  background-color: transparent;
  opacity: 0.5;
}

.fb {
  opacity: 0.5;
}

.mail {
  opacity: 0.5;
}

#panel-container {
    height: 100%;
    width: 100%;
    border-top: 3px solid #adadad;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    -moz-border-image: -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 1;
}

#left-paneling {
    width: 70%;
    float: left;
    background-color: #ffffff;
    height: 100%;
    border-right: 2px solid #adadad;
}

#right-paneling {
    background-color: #ffffff;
    height: 100%;
}

* {
    font-family: Roboto, sans-serif;
}

a {
  width: 100%;
  background-color: transparent;
  -webkit-transition: all 750ms ease;
  transition: all 750ms ease;
}

a:hover {
  background-color: transparent;
  opacity: 0.2;
}

img {
    border: 0px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}